{% extends "bases/_main.html" %}
{% load reader_extras %}
{% block css %}
<link rel="stylesheet" href="/static/css/reader/common.css">
{% endblock %}
{% block content %}
<div class="row" >
    <div id="feed_bar" class="col-lg-3">
        <ul class="list-group">
            {% block feeds %}{% endblock %}
        </ul>
    </div>
    <div id="content_bar" class="col-lg-9">
        <div class="panel panel-info entry">
            <div class="panel-heading">
                <h3>{{ feed.title }}</h3>
            </div>
        </div>
        {% for e in entries %}
        <div class="panel panel-default entry">
            <div class="panel-heading entry_heading">
                <h5 class="entry_title">{{ e.title }} <small>{{ e.updated|datetime_string}}</small></h5>
                <a href="{{ e.url }}" target="_blank">URL</a>
            </div>
            <div class="panel-body">
                {{ e.content|safe }}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block js %}
<script>
var set_bar = function() {
    var content_bar = document.getElementById("content_bar");
    var feed_bar = document.getElementById("feed_bar");
    var content_bar_top = content_bar.getBoundingClientRect().top 
    var feed_bar_top = feed_bar.getBoundingClientRect().top 
    var innerHeight = window.innerHeight;
    content_bar.style.height = innerHeight - content_bar_top + "px";
    feed_bar.style.height = innerHeight - feed_bar_top + "px";
}
set_bar();
window.addEventListener("resize", set_bar, false);
</script>
{% endblock %}
