<!DOCTYPE html>
<html lang="ja" ng-app="feedhoos">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/reader/common.css">
    <style>
        .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
    </style>
</head>
<body>
    {% include "bases/_header.html" %}
    <div class="container" ng-view>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>   
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-route.min.js"></script>   
    <script src="/static/js/ui-bootstrap-tpls-0.10.0.js"></script>
    <script>
        var feedhoos = angular.module('feedhoos', ['ngRoute', 'feedhoosControllers']);
        feedhoos.config(['$routeProvider',
            function($routeProvider) {
                $routeProvider.
                when('/reader', {
                    templateUrl: '/static/partials/reader.html',
                    controller: 'ReaderCtrl'
                }).
                otherwise({
                    redirectTo: '/reader'
                });
                var set_bar = function() {
                    var content_bar = document.getElementById("content_bar");
                    var feed_bar = document.getElementById("feed_bar");
                    var content_bar_top = content_bar.getBoundingClientRect().top 
                    var feed_bar_top = feed_bar.getBoundingClientRect().top 
                    var innerHeight = window.innerHeight;
                    content_bar.style.height = innerHeight - content_bar_top + "px";
                    feed_bar.style.height = innerHeight - feed_bar_top + "px";
                }
                window.addEventListener("resize", set_bar, false);
            }
        ]);
        feedhoos.filter("timeline_url", function() {
            return function(feed_id) {
                return "/reader/feed/timeline/" + feed_id + "/page/1/"
            }
        });
        var feedhoosControllers = angular.module('feedhoosControllers', []);
        feedhoosControllers.controller('ReaderCtrl', ['$scope', '$routeParams', '$http',
            function($scope, $routeParams, $http) {
                var content_bar = document.getElementById("content_bar");
                var feed_bar = document.getElementById("feed_bar");
                var content_bar_top = content_bar.getBoundingClientRect().top 
                var feed_bar_top = feed_bar.getBoundingClientRect().top 
                var innerHeight = window.innerHeight;
                content_bar.style.height = innerHeight - content_bar_top + "px";
                feed_bar.style.height = innerHeight - feed_bar_top + "px";

                $scope.feeds = [];
                $http.get('/reader/feed/list/all/').success(function(data) {
                    $scope.feeds = data;
                });
            }]
        ); 
        feedhoosControllers.config([
            function() {
            }
        ]);
    </script>
</body>
</html>
