<div class="row feedhoos-finder">
    <div ng-show="state == 1">
        <div class="col-lg-6">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="url">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"
                        ng-click="search()">Go!</button>
                </span>
            </div>
        </div>
    </div>
    <div ng-show="state == 2">
        <div ng-show="feed_urls == null">
            通信中
        </div>
        <div ng-if="feed_urls != null && feed_urls.length == 0">
            feedを見つけることができませんでした。
        </div>
        <table class="table table-hover col-lg-6" ng-if="feed_urls != null && feed_urls.length > 1">
                <tr data-ng-repeat="fu in feed_urls">
                    <td>{{ fu }}</td> 
                    <td class="col-lg-1 text-right"><span class="glyphicon glyphicon-plus" ng-click="add(fu)"></span></td>
                </tr>
        </table>
        <button class="btn btn-sm btn-default" ng-click="set_state(1)">戻る</button>
    </div>
    <div ng-show="state == 3">
        <div ng-show="result == null">
            通信中
            <button class="btn btn-sm btn-default" ng-click="set_state(1)">戻る</button>
        </div>
        <span ng-if="result != null">
            {{result.msg}}<br/>
            <button class="btn btn-sm btn-default" ng-click="set_state(1)">さらに登録</button>
        </span>
    </div>
</div>
