<div ng-show="!is_ready()">通信中</div>
<div class="row" ng-show="is_ready()" fh-setter-resize>
    <div id="feed_bar" class="col-lg-2 visible-lg">
        <ul id="list_bar" class="list-group">
            <li class="list-group-item feed text-left" 
                ng-click="select_folder(0)"
                ng-class="{'list-group-item-info': (active_folder_id == 0)}">
                登録しているすべてのfeed
            </li>
            <li class="list-group-item feed text-left" 
                data-ng-repeat="folder in folders"
                ng-click="select_folder(folder.id)"
                ng-class="{'list-group-item-info': (active_folder_id == folder.id)}">
                {{ folder.title }} 
            </li>
        </ul>
    </div>
    <div id="content_bar" class="col-lg-10 col-md-12">
        <button class="btn btn-default" ng-click="is_add_folder = !is_add_folder" ng-show="is_add_folder">add folder</button>
        <button class="btn btn-default" ng-click="is_add_folder = !is_add_folder" ng-show="!is_add_folder">cancel</button>
        <div collapse="is_add_folder">
            <small>追加するフォルダーの名前を入力してください。</small>
            <fh-create-folder size="col-lg-4"></fh-create-folder>
            <br/>
        </div>
        <table id="list_table" class="table table-hover col-lg-12" ng-if="bookmark && feeds">
                <tr data-ng-repeat="f in feeds | orderBy:'-rating'">
                    <td>{{ f.title }}</td> 
                    <td>
                        <fh-select-folder feed-id="{{f.id}}" type="{{f.type}}"></fh-select-folder>
                    </td> 
                    <td>
                        <fh-rating ng-if="f.id != 0" target-id="{{f.id}}" type="{{f.type}}" ></fh-rating>
                    </td>
                    <td class="col-lg-1 text-right"><fh-remove-feed target-id="{{f.id}}" type="{{f.type}}"></fh-remove-feed></td>
                </tr>
        </table>
    </div>
</div>
