<div class="row">
    <div id="feed_bar" class="col-lg-2 visible-lg">
        <tabset justified="true" fh-setter-resize>
            <tab heading="Timeline" active="timeline_tab" ng-click="timeline_tab = true; feed_tab = false;">
                <ul class="list-group">
                    <li class="list-group-item feed text-left" data-ng-repeat="f in feeds" 
                    ng-click="read_timeline(f.id)"
                    ng-class="{'list-group-item-info': (active_timeline_id == f.id && type == 'timeline')}">
                        {{ f.title }}
                    </li>
                </ul>
            </tab>
            <tab heading="Feed" active="feed_tab" ng-click="timeline_tab = false; feed_tab = true;">
                <ul class="list-group">
                    <li class="list-group-item feed text-left" data-ng-repeat="r in readings" 
                        ng-click="read_reading(r.id)"
                        ng-class="{'list-group-item-info': (active_reading_id == r.id && type == 'feed')}">
                        {{ r.title }}({{r.unread_count}})
                    </li>
                </ul>
            </tab>
        </tabset>
    </div>
    <div id="content_bar" class="col-lg-10 col-md-12">
        <div class="panel panel-info entry" ng-if="feed">
            <div class="panel-heading"  scroll-top>
                <h3>{{ feed.title }}</h3>
                <div class="row">
                    <div class="col-lg-11">
                        <fh-rating ng-if="feed.id != 0" feed-id="{{feed.id}}" url="/bookmark/rating/"></fh-rating>
                    </div>
                    <div class="col-lg-1 text-right">
                        <fh-remove-feed ng-if="feed.id != 0" feed-id="{{feed.id}}" url="/reader/feed/list/delete/"></fh-remove-feed>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default entry" data-ng-repeat="e in entries" ng-if="entries" >
            <div class="panel-heading entry_heading">
                <h5 class="entry_title">{{ e.title }} <small>{{ e.updated}}</small></h5>
                <a href="{{ e.url }}" target="_blank">URL</a>
            </div>
            <div class="panel-body" ng-bind-html="e.content" ng-show="e.content">
            </div>
        </div>
    </div>
</div>
