.container {
    width:1320px;
}

.feed {
    font-size: 12px;
    border-radius: 0px !important;
    direction: ltr;
}

#feed_bar {
    padding-right: 0px;
    overflow-y: scroll;
    direction: rtl;
    padding-left: 0px;
}

#content_bar {
    overflow-y: scroll;
    padding-left: 0px;
    padding-right: 0px;
}

.entry {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

#content_bar > .panel-info > .panel-heading {
    background-color: #D1E3F1 !important;
    border-color: #A6D8E2 !important;
}

blockquote {
    font-size: 14px;
}

.entry_heading {
    padding-top: 11px;
    padding-bottom: 5px;
}

.entry_title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.entry .panel-body {
    padding-bottom: 30px;
}

#feed_bar .list-group {
    padding-right: 0px;
}

ul.nav.nav-tabs.nav-justified {
    padding-right: 0px;
}

.glyphicon-remove {
    color: #ff4333;
}

.glyphicon-star, .glyphicon-star-empty {
    color: #FF851B;
}

.glyphicon-arrow-left {
    color: #D0D0D0;
}

.panel-heading > h3, .panel-heading > span {
    line-height: 1;
    margin-top: 0px;
    margin-bottom: 0px;
}
