.feed {
    font-size: 12px;
    border-radius: 0px !important;
}

#feed_bar {
    width: 20%;
    padding-right: 0px;
}

#content_bar {
    width: 80%;
    overflow-y: scroll;
    padding-right: 0px;
}

.entry {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

#content_bar > .panel-info > .panel-heading {
    background-color: #D1E3F1 !important;
    border-color: #A6D8E2 !important;
}

blockquote {
    font-size: 14px;
}
