.feed {
    font-size: 12px;
    border-radius: 0px !important;
    direction: ltr;
}

#feed_bar {
    width: 20%;
    padding-right: 0px;
    overflow-y: scroll;
    direction: rtl;
    padding-left: 0px;
}

#content_bar {
    width: 80%;
    overflow-y: scroll;
    padding-left: 0px;
    padding-right: 0px;
}

.entry {
    margin-bottom: 0px !important;
    border-radius: 0px !important;
}

#content_bar > .panel-info > .panel-heading {
    background-color: #D1E3F1 !important;
    border-color: #A6D8E2 !important;
}

blockquote {
    font-size: 14px;
}

.entry_heading {
    padding-top: 11px;
    padding-bottom: 5px;
}

.entry_title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.entry .panel-body {
    padding-bottom: 30px;
}

#feed_bar .list-group {
    -webkit-padding-start: 0px;
}





